<a href="https://colab.research.google.com/github/anadiedrichs/time-series-analysis/blob/master/Laboratorio_3_time_series_energia_argentina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratorio #3 Proyecto demanda energética argentina

## Unidad análisis de series temporales - Teleinformática IoT - 2019

**Docente: Ing. Ana Laura Diedrichs**

Topic: Consulta Ana Laura Diedrichs - Miércoles 14 hs y Viernes 20:30 hs - Contraseña Consulta
Zoom Meeting
https://utn.zoom.us/j/94481395966
Meeting ID: 944 8139 5966
Passcode: Consulta

* Email: ana.diedrichs@frm.utn.edu.ar
* Telegram / twitter  @anadiedrichs

## Objetivos del laboratorio:

* Analizar una serie temporal para un problema específico
* Fomentar el trabajo en clase, discusión y aportes de soluciones entre los participantes
* Ser una entrada en calor o introducción del uso del entorno colab.research.google.com y librerías Python como pandas

## Pre-requisitos o pre-condiciones
* Tener una cuenta google (gmail)
* Tener instalado el navegador google chrome 
* Contar con conectividad a Internet

## Entrega y uso del laboratorio

**USO**

* Antes que cualquier cosa, **cree una copia de este notebook: Click en *File*, luego *Save a Copy in Drive***
* Renombre el archivo con el siguiente formato: APELLIDO_NOMBRE_LEGAJO_titulonotebook.ipynb 
Ejemplo: DIEDRICHS_ANA_99999_time_series_argentina.ipynb
* Use el notebook en colab.google, complete las actividades y consignas que se elija. 
* Este laboratorio es una actividad individual.
* Se fomenta el intercambio de opiniones en clase y exposición.

**ENTREGA**

* Una vez finalizado el laboratorio, complete [el formulario de entrega](https://forms.gle/bNJs5czZrZX3fU1M7) indicando
 * Apellido
 * Nombre
 * Nro Legajo
 * Carrera
 * Actividad (cuál laboratorio o actividad)
 * link de su notebook. El mismo se obtiene si realiza click en *Share* (esquina superior derecha) y luego en *Get shareable link* 
 
 
 No se aceptarán otras formas de entrega distintas a la mencionada.

## Dataset

Vamos a trabajar con el dataset de demanda histórica eléctrica de Argentina.

Fuente del dataset

http://datos.minem.gob.ar/dataset/publicaciones-cammesa/archivo/30e1c42d-44a7-428f-a55a-12c81dc14186

Link para descarga directa del dataset

http://datos.minem.gob.ar/dataset/2b4dfee6-6fca-4e4d-9611-a12d65cd4aa8/resource/30e1c42d-44a7-428f-a55a-12c81dc14186/download/demanda-histrica.csv

## Carga del dataset

In [1]:
import pandas as pd
from pandas import Series
data = pd.read_csv('http://datos.minem.gob.ar/dataset/2b4dfee6-6fca-4e4d-9611-a12d65cd4aa8/resource/30e1c42d-44a7-428f-a55a-12c81dc14186/download/demanda-histrica.csv',header=0, parse_dates=[0],squeeze=True) #index_col=0,

index_col es 0 : toma la primer columna como indice por defecto 


header es 0, la primer fila es usada como cabecera


parse_dates es True, intenta convertir los tipos de datos a tipo DateTime

La option squeeze=True regresa tipo Series

Mostramos las primeras 10 líneas del dataset

In [2]:
data.head(10)

        anio  mes  ... demanda_MWh indice_tiempo
0 2012-01-01    1  ...    2222.628       2012-01
1 2012-01-01    1  ...     536.858       2012-01
2 2012-01-01    1  ...     336.297       2012-01
3 2012-01-01    1  ...     601.066       2012-01
4 2012-01-01    1  ...    3076.618       2012-01
5 2012-01-01    1  ...   68179.459       2012-01
6 2012-01-01    1  ...     703.186       2012-01
7 2012-01-01    1  ...    5584.473       2012-01
8 2012-01-01    1  ...    1218.180       2012-01
9 2012-01-01    1  ...     631.637       2012-01

[10 rows x 13 columns]

In [3]:
data.describe()

                 mes   demanda_MWh
count  122263.000000  1.222630e+05
mean        6.373637  9.420555e+03
std         3.469122  3.987174e+04
min         1.000000 -2.537772e+04
25%         3.000000  3.649625e+02
50%         6.000000  1.344686e+03
75%         9.000000  4.581487e+03
max        12.000000  1.572308e+06

## 1 - Descripción del dataset

### Describa las variables que contiene el dataset (que es cada columna, unidades)

SU RESPUESTA AQUI

### ¿Cuál es el tamaño del archivo (en Mb)?

SU RESPUESTA AQUI

### ¿Cuántas variables y cuántas observaciones tenemos en el dataset?

SU RESPUESTA AQUI

### ¿Contiene el dataset valores perdidos?

SU RESPUESTA AQUI

## Consultas

### Los datos ¿de qué periodo o rango de tiempo son?

## Obtenga el promedio, minimo, maximo de demanda (agrupado) por provincia, año. Muestre el DataFrame obtenido.

Pista: vea la documentación y/o ejemplos del uso de las siguientes funciones de la librería Pandas:

*groupby*, hay varios ejemplos https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
y con la funcion *filter* para seleccionar las columnas de interés

In [4]:
df = data.filter(items=['region','provincia','anio','demanda_MWh'])

In [5]:
df = data.groupby(by=['region','provincia','anio']).mean()

In [6]:
df

                                           mes  demanda_MWh
region       provincia    anio
BUENOS AIRES BUENOS AIRES 2012-01-01  6.520068  3094.868999
                          2013-01-01  6.505918  3033.969762
                          2014-01-01  6.501218  2816.885667
                          2015-01-01  6.504437  2865.544699
                          2016-01-01  6.255486  2913.812721
...                                        ...          ...
PATAGONICA   SANTA CRUZ   2016-01-01  6.147157  3957.610806
                          2017-01-01  6.430000  3882.341543
                          2018-01-01  6.534014  4099.877156
                          2019-01-01  6.378261  5178.934539
                          2020-01-01  1.500000  4993.967333

[209 rows x 2 columns]

##

## Consumo total por año

### Grafique la demanda total por año


### Desglose la demanda promedio por año por provincia. Muestre el DataFrame y realice los plots corrrespondientes


### Grafique la distribucion de la demanda por anio por provincia. Muestre el DataFrame y realice los plots corrrespondientes

### En el último año, ¿cuáles fueron las provincias con mayor demanda? Realice o muestre un ranking.

## Investigue... pregunte...

¿Qué otras consultas se pueden realizar sobre este dataset?

¿Alguna que implique relacionar otros datasets en http://datos.minem.gob.ar/dataset/publicaciones-cammesa
?