<a href="https://colab.research.google.com/github/anadiedrichs/time-series-analysis/blob/master/Pandas_Python_Tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

### Crear DataFrames, que son estructuras tabulares de datos.

Usando diccionarios

In [ ]:
c1 = ["data1", "data2", "data3","data4"]
c2 = [3.6, 4.5, 5.9,7.8]
c3 = ["col1", "col2", "col3","col4"]

In [ ]:
c1

In [ ]:

d_dic ={'first_col_name':c1,'second_col_names':c2,'3rd_col_name':c3}

In [ ]:
d_dic

In [ ]:
df = pd.DataFrame(data = d_dic)

In [ ]:
df

Usando NumPy arrays

In [ ]:
#np_data = np.zeros((no_of_samples,no_of_features)) #any_numpy_array
np_data = np.zeros((1000,4)) #any_numpy_array

In [ ]:
np_data

In [ ]:

#df = pd.DataFrame(data=np_data, columns = list_of_Col_names)

df = pd.DataFrame(data=np_data, columns = ["col1", "col2", "col3","col4"])

In [ ]:
df

### Leer y cargar archivos csv

In [ ]:
# obtener ayuda para saber más de la función
# help(pd.read_csv)

In [ ]:
# df = pd.read_csv("file_path", sep=’,’, header = 0, index_col=False,names=None)

In [ ]:
! wget http://datos.minem.gob.ar/dataset/2b4dfee6-6fca-4e4d-9611-a12d65cd4aa8/resource/30e1c42d-44a7-428f-a55a-12c81dc14186/download/demanda-histrica.csv

In [ ]:

enlace = "http://datos.minem.gob.ar/dataset/2b4dfee6-6fca-4e4d-9611-a12d65cd4aa8/resource/30e1c42d-44a7-428f-a55a-12c81dc14186/download/demanda-histrica.csv"

df = pd.read_csv(enlace, sep=",", header = 0, index_col=False,names=None)
df

In [ ]:
parse_fechas = ['anio','mes']
df = pd.read_csv(enlace, sep=",", header = 0, index_col=False,names=None,squeeze=True)

In [ ]:
df[df['mes'] == 2]

In [ ]:
df.info()

In [ ]:
parse_fechas = ['anio','mes']
df = pd.read_csv(enlace, sep=",", header = 0, index_col=False,names=None,squeeze=True)

In [ ]:
df.info()

In [ ]:
pd.datetime.datetime(2000, 10,9)

In [ ]:
df2 = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
pd.to_datetime(df2)

In [ ]:
df2 = pd.DataFrame({'year': df['anio'],
                   'month': df['mes'],
                   'day': df['mes']})

In [ ]:
df2

In [ ]:

pd.to_datetime(df2)

In [ ]:
df.loc[:,'mi_fecha'] =pd.to_datetime(df2)

In [ ]:
df.head(23)

In [ ]:
df['mes'].value_counts()

In [ ]:
df[df['mes'] == 2]

In [ ]:
df.info()

### Visualizar al principio y final del dataset

In [ ]:
df.head(3)

In [ ]:
df.tail(5)

### Renombrar columnas

In [ ]:
df = pd.DataFrame(data={'a':[1,2,3,4,5],'b':[0,1,5,10,15]})

In [ ]:
df

In [ ]:
new_df = df.rename({'a':'variableA','b':'variableB'})

In [ ]:
df

### Frecuencia de valores en una serie

In [ ]:
df['categoria_demanda'].value_counts()

## Filtrar según valores en una columna o serie

Ejemplo, dejar sólo Mendoza

In [ ]:
df['provincia']=="MENDOZA"

In [ ]:
df[df['provincia']=="MENDOZA"].head()

tarifa

In [ ]:
df['tarifa'].value_counts()

Ejemplo, filtrar region Cuyo y tarifa alumbrado Publico

In [ ]:
df['region']

In [ ]:
mi_filtro = ( df['region']=="CUYO" ) & (df['tarifa']=="Alumbrado Publico")

In [ ]:
mi_filtro

In [ ]:
result = df[mi_filtro]

In [ ]:
result = df[( df['region']=="CUYO" ) & (df['tarifa']=="Alumbrado Publico")]

In [ ]:
result.describe()

Buscar palabra SOCIAL en la columna tarifa , como encontrar un texto o cadena en una columna

In [ ]:
df.head(3)

In [ ]:
*estaPalabra*

In [ ]:
df[df['tarifa'].str.contains("SOCIAL")]

In [ ]:
df['demanda_MWh'].max()

Fechas filtrar mes 2

In [ ]:
df[df['mes']==2]

### Seleccionar columnas con cuales quedarme

In [ ]:
df[['mi_fecha','agente_descripcion','provincia']]

df.me

### Dimensiones varias

In [ ]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.size.html
df.size

In [ ]:
df.shape

In [ ]:
df.ndim

### Tamaño en bytes

In [ ]:
# CUANTOS bytes ocupa cada columna
df.memory_usage()

In [ ]:
df.memory_usage(index=True).sum()/1024/1024

In [ ]:
df.info()